<div [id]="id" [hidden]="true">
  <div *ngIf="(userStorage | async); let user" class="ui grid container factura-container">
    <div class="eigth">
      <h1>{{ user.company.fantasyName }}</h1>
      <p><strong>Razon social:</strong> {{ user.company.name }}</p>
      <p><strong>Domicilio comercial:</strong> {{ user.company.place }}</p>
      <p>
        <strong>Condicion frente al IVA:</strong>
        <span *ngIf="client?.ivaInscripto; else: noInscripto">Responsable Inscripto</span>
        <ng-template #noInscripto> <span *ngIf="!client?.ivaInscripto">Consumidor final</span> </ng-template>
      </p>
    </div>
    <div class="eigth">
      <h1>Factura B</h1>
      <p><strong>Fecha:</strong> {{ sale.updated_at }}</p>
      <p><strong>CUIT:</strong> {{ user.company.cuit }}</p>
      <p><strong>Ingresos brutos:</strong> {{ user.company.iib }}</p>
      <p><strong>Fecha de inicio de actividades:</strong> {{ user.company.created_at }}</p>
    </div>
  </div>

  <div class="ui grid container factura-container">
    <div class="eigth">
      <p><strong>DNI/ CUIT:</strong> {{ client?.cuit }}</p>
      <p>
        <strong>Condicion frente al IVA:</strong>
        <span *ngIf="client?.ivaInscripto; else: noInscripto">Responsable Inscripto</span>
        <ng-template #noInscripto> <span *ngIf="!client?.ivaInscripto">Consumidor final</span> </ng-template>
      </p>
      <p><strong>Condición de venta:</strong> {{ sale.payments }}</p>
    </div>
    <div class="eigth">
      <p><strong>Apellido y nombre/ Razon social:</strong> {{ client?.name }}</p>
      <p><strong>Domicilio comercial:</strong> {{ client?.place }}</p>
    </div>
  </div>

  <div class="ui grid container factura-container">
    <table class="ui celled striped inverted table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Desc</th>
          <th>Precio unitario</th>
          <th>Precio total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let details of products_details">
          <td>{{ products[details.product_id].code }}</td>
          <td>{{ details.product_name }}</td>
          <td>{{ products[details.product_id].description }}</td>
          <td>{{ details.quantity }}</td>
          <td>{{ sale.discount }}</td>
          <td>{{ products[details.product_id].sale_price }}</td>
          <td>{{ details.quantity * products[details.product_id].sale_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui grid container factura-container">
    <div class="eigth">
      <p>Gracias por cofiar en Semantic SA</p>
      <p>Somos expertos en ventas y administraciónes digitales</p>
      <p>Estamos para ayudarle</p>
    </div>
    <div class="eigth">
      <p><strong>Subtotal:</strong> {{ sale.total }}</p>
      <!-- <p><strong>Importe otros tributos:</strong>0</p> -->
      <h1>TOTAL: {{ sale.total }}</h1>
    </div>
  </div>

  <div class="ui grid container factura-container">
    <div class="eigth">
      <p><strong>Nro CAE:</strong> {{ cae }}</p>
      <p><strong>Vto CAE:</strong> {{ vto.year }}/{{ vto.month }}/{{ vto.day }}</p>
    </div>
    <div class="eigth"><img src="../../assets/images/afip.png" alt="afip" /></div>
  </div>
</div>

<button class="ui button tiny" (click)="print()">Imprimir Factura</button>
