<div class="grid">
  <button class="ui button" [disabled]="!providers || providers?.length === 0" (click)="newModal()">Agregar Nuevo Producto</button>
  <table class="ui celled striped inverted table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Proveedor</th>
        <th>Descripcion</th>
        <th>Precio a costo</th>
        <th>Precio a la venta</th>
        <th>Categoria</th>
        <th>Codigo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of storage?.products; let i = index;">
        <td><span class="name" (click)="editModal(product)">{{product.name}}</span></td>
        <td>{{product.providerName}}</td>
        <td>{{product.description}}</td>
        <td>{{product.cost_price}}</td>
        <td>{{product.sale_price}}</td>
        <td>{{product.category_id}}</td>
        <td>{{product.code}}</td>
      </tr>
      <tr colspan="7" *ngIf="storage?.products.length === 0">
        <td>No se han encontrado productos</td>
      </tr>
    </tbody>
  </table>
</div>
<app-stock-modal *ngIf="showModal" #stockModal></app-stock-modal>
