<div class="grid"> 
    <button class="ui button" (click)="clientModal.openNewClientModal()">Agregar Nuevo Cliente</button>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>E-Mail</th>
                <th>Localidad</th>
                <th>Telefono</th>
                <th>C.U.I.T</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clientStorage | async; let i = index;">
                <td><span class="name" (click)="clientModal.changeInformation(client)">{{client.name}}</span></td>
                <td>{{client.email}}</td>
                <td>{{client.place}}</td>
                <td>{{client.telephone}}</td>
                <td>{{client.cuit}}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-client-modal #clientModal></app-client-modal>