<div style="height:100%" class="ui middle aligned center aligned grid"> 
  <div class="column">
    <form [formGroup]="loginForm" class="ui large form">
      <h1 class="brand">Semantic AF Contaduria</h1>
      <sm-loader [complete]="!formSubmited" class="inverted" text="Loading..."></sm-loader>
      <div class="ui stacked segment ">
        <div class="field">
          <sm-input type="email" label="Email" [control]="loginForm.controls.email" placeholder="Ingresar Email"></sm-input>
        </div>
        <div class="field">
          <sm-input type="password" label="Password" [control]="loginForm.controls.password" placeholder="Ingresar Password"></sm-input>
        </div>
        <button class="ui button" (click)="submit(loginForm)" [disabled]="!loginForm.valid" type="submit">Ingresar</button>
      </div>
    </form>
  </div>
</div>