<div class="charts">
    <div class="ui link cards">

        <div class="card" [routerLink]="['/apps/stock/charts', 'bar']">
            <div class="content">
                <div class="header">Ejemplo de grafico tipo barra</div>
                <div class="description">
                    <charts [chartType]= "'bar'" [demo]="true"></charts>
                </div>
            </div>
        </div>

        <div class="card" [routerLink]="['/apps/stock/charts', 'line']">
            <div class="content">
                <div class="header">Ejemplo de grafico tipo linea</div>
                <div class="description">
                    <charts [chartType]= "'line'" [demo]="true"></charts>
                </div>
            </div>
        </div>

        <div class="card" [routerLink]="['/apps/stock/charts', 'radar']">
            <div class="content">
                <div class="header">Ejemplo de grafico tipo radar</div>
                <div class="description">
                    <charts [chartType]= "'radar'" [demo]="true"></charts>
                </div>
            </div>
        </div>

        <div class="card" [routerLink]="['/apps/stock/charts', 'polarArea']">
            <div class="content">
                <div class="header">Ejemplo de grafico tipo area polar</div>
                <div class="description">
                    <charts [chartType]= "'polarArea'" [demo]="true"></charts>
                </div>
            </div>
        </div>

    </div>
</div>


