<div class="row" *ngIf="lineChartData ;else noDataTemplate">
    <div class="grid"> 
        <div>
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="chartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
    <div *ngIf="!demo" class="grid" style="margin-bottom: 10px">
        <table class="ui celled striped inverted table">
            <thead>
                <tr>
                    <th>Interes</th>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of lineChartData">
                    <td>{{d.label}}</td>
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d.data[j]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noDataTemplate>
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Solo un segundo !
            </div>
            <p>Estamos buscando tus datos para ti.</p>
        </div>
    </div>
</ng-template>
