 <div class="ui borderless inverted main menu fixed">
        <div class="item brand">Semantic AF Contaduria</div>
        <a routerLink="/apps/home" routerLinkActive="active" class="item home">Home</a>
        <template ngFor let-app [ngForOf]="userApps">
            <a routerLink="/apps/{{app.app}}" routerLinkActive="active" class="item" [ngSwitch]="app.app">
                <template [ngSwitchCase]="'clients'">
                    <i class="user icon"></i> Clientes
                </template>
                <template [ngSwitchCase]="'providers'">
                    <i class="user icon"></i> Providers
                </template>
                <template [ngSwitchCase]="'sales'">
                    <i class="user icon"></i> Ventas    
                </template>
                <template [ngSwitchCase]="'stock'">
                    <i class="user icon"></i> Stock
                </template>
            </a>
        </template>
        <div class="right item">
            <div class="ui inverted menu">
                <div class="ui simple inverted dropdown item">
                Acciones
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div (click)="showProfileModal()" class="item">Perfil</div>
                    <div (click)="logOut()" class="item">Salir</div>
                </div>
                </div>
            </div>  
        </div>
</div>
<app-profile-modal></app-profile-modal>