<div *ngIf="userStorage | async; let user" class="ui stackable container menu borderless inverted navbar">
    <div class="item brand">Semantic AF Contaduria</div>
    <a routerLink="/apps/home" routerLinkActive="active" class="item home">Inicio</a>
    <a *ngIf="user.profile.sales" routerLink="/apps/sales" routerLinkActive="active" class="item">
        <i class="user icon"></i> Operaciones
    </a>
    <a *ngIf="user.profile.stock" routerLink="/apps/stock" routerLinkActive="active" class="item">
        <i class="user icon"></i> Stock
    </a>
    <a *ngIf="user.profile.clients" routerLink="/apps/clients" routerLinkActive="active" class="item">
        <i class="user icon"></i> Clientes
    </a>
    <a *ngIf="user.profile.providers" routerLink="/apps/providers" routerLinkActive="active" class="item">
        <i class="user icon"></i> Proveedores
    </a>
    <div *ngIf="windowWidth < 767">
        <a (click)="profileModal.showModal()" class="item">Perfil</a>
        <a (click)="logOut()" class="item">Salir</a>
    </div>
    <div *ngIf="windowWidth >= 767" class="right item">
        <div class="ui inverted menu">
            <div class="ui simple inverted dropdown item">
                Acciones
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div (click)="profileModal.showModal()" class="item">Perfil</div>
                    <div (click)="logOut()" class="item">Salir</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="windowWidth < 767" class="sidebar-section">
        <span [ngSwitch]="parentUrl">
            <p *ngSwitchCase="'clients'">
                <a routerLink="/apps/clients/grid" routerLinkActive="active" class="item">
                    <i class="table icon"></i> Tabla de Clientes
                </a>
                <a routerLink="/apps/clients/charts" routerLinkActive="active" class="item">
                    <i class="line chart icon"></i> Estadisticas
                </a>
            </p>
            <p *ngSwitchCase="'providers'">
                <a routerLink="/apps/providers/grid" routerLinkActive="active" class="item">
                    <i class="table icon"></i> Tabla de Proveedores
                </a>
                <a routerLink="/apps/providers/charts" routerLinkActive="active" class="item">
                    <i class="line chart icon"></i> Estadisticas
                </a>
            </p>
            <p *ngSwitchCase="'stock'">
                <a routerLink="/apps/stock/grid" routerLinkActive="active" class="item">
                    <i class="table icon"></i> Tabla de Stock
                </a>
                <a routerLink="/apps/stock/charts" routerLinkActive="active" class="item">
                    <i class="line chart icon"></i> Estadisticas
                </a>
            </p>
            <p *ngSwitchDefault>

            </p>
        </span>
    </div>
</div>
<app-profile-modal #profileModal></app-profile-modal>