<div class="ui left vertical menu sidebar thin inverted visible" *ngIf="windowWidth > 767">
    <span [ngSwitch]="parentUrl">
        <p *ngSwitchCase="'clients'">
            <a routerLink="/apps/clients/grid" routerLinkActive="active" class="item">
                <i class="table icon"></i> Tabla de Clientes
            </a>
            <a routerLink="/apps/clients/charts" routerLinkActive="active" class="item">
                <i class="line chart icon"></i> Estadisticas
            </a>
        </p>
        <p *ngSwitchCase="'providers'">
            <a routerLink="/apps/providers/grid" routerLinkActive="active" class="item">
                <i class="table icon"></i> Tabla de Proveedores
            </a>
            <a routerLink="/apps/providers/charts" routerLinkActive="active" class="item">
                <i class="line chart icon"></i> Estadisticas
            </a>
        </p>
        <p *ngSwitchCase="'stock'">
            <a routerLink="/apps/stock/grid" routerLinkActive="active" class="item">
                <i class="table icon"></i> Tabla de Stock
            </a>
            <a routerLink="/apps/stock/charts" routerLinkActive="active" class="item">
                <i class="line chart icon"></i> Estadisticas
            </a>
        </p>
        <p *ngSwitchDefault>
        
        </p>
    </span>
</div>
