<sm-modal title="Perfil" class="fluid profile-modal" icon="home" #profileModal>
  <modal-content>
    <sm-tabs (click)="refresh()">
      <sm-tab title="Datos de Usuario">
        <form class="ui form" [formGroup]="registerForm" name="registerForm">
          <div class="ui left aligned basic segment">
            <div class="form-group field">
              <sm-input
                type="text"
                label="Nombre de Usuario"
                [control]="registerForm.controls.username"
                placeholder="Ingresar nombre de usuario"
              ></sm-input>
              <app-input-error-messages [control]="registerForm.controls.username"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input
                type="password"
                label="Contraseña"
                [control]="registerForm.controls.password"
                placeholder="Ingresar Contraseña"
              ></sm-input>
              <app-input-error-messages [control]="registerForm.controls.password"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input type="text" label="Nombre" [control]="registerForm.controls.name" placeholder="Ingresar Nombre"></sm-input>
              <app-input-error-messages [control]="registerForm.controls.name"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input type="text" label="Apellido" [control]="registerForm.controls.lastname" placeholder="Ingresar Apellido"></sm-input>
              <app-input-error-messages [control]="registerForm.controls.lastname"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input type="email" label="Email" [control]="registerForm.controls.email" placeholder="Ingresar Email"></sm-input>
              <app-input-error-messages [control]="registerForm.controls.email"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input type="text" label="Dirección" [control]="registerForm.controls.address" placeholder="Ingresar direccion"></sm-input>
              <app-input-error-messages [control]="registerForm.controls.address"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input
                type="date"
                label="Fecha de nacimiento"
                [control]="registerForm.controls.birthday"
                placeholder="Ingresar fecha de nacimiento"
              ></sm-input>
              <app-input-error-messages [control]="registerForm.controls.birthday"></app-input-error-messages>
            </div>
            <div class="ui segment">
              <h4 class="ui dividing header">Selecciona los productos a utilizar</h4>
              <div class="four fields">
                <div class="form-group field">
                  <div class="ui toggle checkbox"><sm-checkbox label="Ventas" [control]="registerForm.controls.sales"></sm-checkbox></div>
                </div>
                <div class="form-group field">
                  <div class="ui toggle checkbox"><sm-checkbox label="Stock" [control]="registerForm.controls.stock"></sm-checkbox></div>
                </div>
                <div class="form-group field">
                  <div class="ui toggle checkbox">
                    <sm-checkbox label="Clientes" [control]="registerForm.controls.clients"></sm-checkbox>
                  </div>
                </div>
                <div class="field">
                  <div class="ui toggle checkbox">
                    <sm-checkbox label="Proveedores" [control]="registerForm.controls.providers"></sm-checkbox>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxLayoutGap="15px">
              <div fxLayout="row" fxLayoutGap="15px">
                <button
                  fxFlex="20"
                  fxFlex.xs="100"
                  class="ui button tiny"
                  [disabled]="!registerForm.valid"
                  type="submit"
                  (click)="updateClientInfo(registerForm)"
                >
                  Actualizar Datos
                </button>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button fxFlex="20" fxFlex.xs="100" class="ui button tiny" (click)="profileModal.hide()">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </sm-tab>
      <sm-tab *ngIf="userData?.profile.isAdmin" title="Datos de Empresa">
        <form class="ui form" [formGroup]="userForm" name="Form">
          <div class="ui left aligned basic segment">
            <div class="form-group field">
              <sm-input type="text" label="Nombre" [control]="userForm.controls.name" placeholder="Ingresar Nombre"> </sm-input>
              <app-input-error-messages [control]="userForm.controls.name"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="Nombre De Fantasia"
                [control]="userForm.controls.fantasyName"
                placeholder="Ingresar nombre de fantasia"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.fantasyName"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="email" label="E-mail" [control]="userForm.controls.email" placeholder="Ingresar E-mail"> </sm-input>
              <app-input-error-messages [control]="userForm.controls.email"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="text" label="Localidad" [control]="userForm.controls.place" placeholder="Ingresar Localidad"> </sm-input>
              <app-input-error-messages [control]="userForm.controls.place"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="number" label="Código Postal" [control]="userForm.controls.codigoPostal" placeholder="Ingresar codigo postal">
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.codigoPostal"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="text" label="Provincia" [control]="userForm.controls.codigoProvincia" placeholder="Ingresar codigo provincia">
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.codigoProvincia"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="text" label="Dirección" [control]="userForm.controls.address" placeholder="Ingresar Dirección"> </sm-input>
              <app-input-error-messages [control]="userForm.controls.address"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="tel" label="Teléfono" [control]="userForm.controls.telephone" placeholder="Ingresar Teléfono"> </sm-input>
              <app-input-error-messages [control]="userForm.controls.telephone"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="number" label="C.U.I.T (solo números)" [control]="userForm.controls.cuit" placeholder="Ingresar C.U.I.T">
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.cuit"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input type="text" label="Pagina Web" [control]="userForm.controls.web" placeholder="Ingresar Pagina Web"> </sm-input>
              <app-input-error-messages [control]="userForm.controls.web"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="​Inscripción en ingresos brutos"
                [control]="userForm.controls.iib"
                placeholder="Ingresar ​inscripción en ingresos brutos"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.iib"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="Percepción en ingresos brutos"
                [control]="userForm.controls.pib"
                placeholder="Ingresar percepción en ingresos brutos"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.pib"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="Exención de percepción en ingresos brutos"
                [control]="userForm.controls.epib"
                placeholder="Ingresar exención de percepción en ingresos brutos"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.epib"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <div class="ui toggle checkbox">
                <sm-checkbox
                  label="Responsable Inscripto"
                  [control]="userForm.controls.responsableInscripto"
                  (change)="responsableChange(userForm.controls.responsableInscripto)"
                  placeholder="Ingresar responsable inscripto"
                >
                </sm-checkbox>
              </div>
            </div>

            <div class="form-group field">
              <div class="ui toggle checkbox">
                <sm-checkbox
                  label="Exento"
                  [control]="userForm.controls.excento"
                  (change)="responsableChange(userForm.controls.excento)"
                  placeholder="Ingresar si es exento"
                >
                </sm-checkbox>
              </div>
            </div>

            <div class="form-group field">
              <div class="ui toggle checkbox">
                <sm-checkbox
                  label="Responsable de Monotributo"
                  [control]="userForm.controls.responsableMonotributo"
                  (change)="responsableChange(userForm.controls.responsableMonotributo)"
                  placeholder="Ingresar si es responsable de monotributo"
                >
                </sm-checkbox>
              </div>
            </div>

            <div class="form-group field">
              <div class="ui toggle checkbox">
                <sm-checkbox
                  label="Iva Inscripto"
                  [control]="userForm.controls.ivaInscripto"
                  (change)="responsableChange(userForm.controls.ivaInscripto)"
                  placeholder="Ingresar si es iva inscripto"
                >
                </sm-checkbox>
              </div>
            </div>

            <div class="form-group field">
              <sm-input type="number" label="Precio Lista" [control]="userForm.controls.precioLista" placeholder="Ingresar precio lista">
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.precioLista"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="Condición De Venta"
                [control]="userForm.controls.condicionDeVenta"
                placeholder="Ingresar condición de venta"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.condicionDeVenta"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="number"
                label="Límite De Crédito"
                [control]="userForm.controls.limiteDeCredito"
                placeholder="Ingresar condición de venta"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.limiteDeCredito"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="number"
                label="Número De Inscripciones Ingresos Brutos"
                [control]="userForm.controls.numeroDeInscripcionesIB"
                placeholder="Ingresar número de inscripciones ingresos brutos"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.numeroDeInscripcionesIB"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="Cuentas Generales"
                [control]="userForm.controls.cuentasGenerales"
                placeholder="Ingresar cuentas generales"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.cuentasGenerales"></app-input-error-messages>
            </div>

            <div class="form-group field">
              <sm-input
                type="text"
                label="Percepción De Ganancia"
                [control]="userForm.controls.percepcionDeGanancia"
                placeholder="Ingresar percepción de ganancia"
              >
              </sm-input>
              <app-input-error-messages [control]="userForm.controls.percepcionDeGanancia"></app-input-error-messages>
            </div>
          </div>

          <modal-actions>
            <div fxLayout="column" fxLayoutGap="15px">
              <div fxLayout="row" fxLayoutGap="15px">
                <button
                  fxFlex="20"
                  fxFlex.xs="100"
                  class="ui button tiny"
                  (click)="updateClientCompany(userForm)"
                  [disabled]="userForm.invalid"
                >
                  Actualizar Datos
                </button>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button fxFlex="20" fxFlex.xs="100" class="ui button tiny" (click)="profileModal.hide()">Cancelar</button>
              </div>
            </div>
          </modal-actions>
        </form>
      </sm-tab>
      <sm-tab *ngIf="userData?.profile.isAdmin" title="Nuevo Sub-Usuario">
        <form class="ui form" [formGroup]="newSubUserForm" name="newSubUserForm">
          <div class="ui left aligned basic segment">
            <div class="form-group field">
              <sm-input
                type="text"
                label="Nombre de Usuario"
                [control]="newSubUserForm.controls.username"
                placeholder="Ingresar nombre de usuario"
              ></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.username"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input
                type="password"
                label="Contraseña"
                [control]="newSubUserForm.controls.password"
                placeholder="Ingresar Contraseña"
              ></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.password"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input type="text" label="Nombre" [control]="newSubUserForm.controls.name" placeholder="Ingresar Nombre"></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.name"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input
                type="text"
                label="Apellido"
                [control]="newSubUserForm.controls.lastname"
                placeholder="Ingresar Apellido"
              ></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.lastname"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input type="email" label="Email" [control]="newSubUserForm.controls.email" placeholder="Ingresar Email"></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.email"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input
                type="text"
                label="Dirección"
                [control]="newSubUserForm.controls.address"
                placeholder="Ingresar direccion"
              ></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.address"></app-input-error-messages>
            </div>
            <div class="form-group field">
              <sm-input
                type="date"
                label="Fecha de nacimiento"
                [control]="newSubUserForm.controls.birthday"
                placeholder="Ingresar fecha de nacimiento"
              ></sm-input>
              <app-input-error-messages [control]="newSubUserForm.controls.birthday"></app-input-error-messages>
            </div>
            <div *ngIf="userData?.profile.isAdmin" class="ui segment">
              <h4 class="ui dividing header">Selecciona los productos a utilizar</h4>
              <div class="four fields">
                <div class="form-group field">
                  <div class="ui toggle checkbox"><sm-checkbox label="Ventas" [control]="newSubUserForm.controls.sales"></sm-checkbox></div>
                </div>
                <div class="form-group field">
                  <div class="ui toggle checkbox"><sm-checkbox label="Stock" [control]="newSubUserForm.controls.stock"></sm-checkbox></div>
                </div>
                <div class="form-group field">
                  <div class="ui toggle checkbox">
                    <sm-checkbox label="Clientes" [control]="newSubUserForm.controls.clients"></sm-checkbox>
                  </div>
                </div>
                <div class="field">
                  <div class="ui toggle checkbox">
                    <sm-checkbox label="Proveedores" [control]="newSubUserForm.controls.providers"></sm-checkbox>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxLayoutGap="15px">
              <div fxLayout="row" fxLayoutGap="15px">
                <button
                  fxFlex="20"
                  fxFlex.xs="100"
                  class="ui button tiny"
                  [disabled]="!newSubUserForm.valid"
                  type="submit"
                  (click)="createSubClient(newSubUserForm)"
                >
                  Crear
                </button>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button fxFlex="20" fxFlex.xs="100" class="ui button tiny" (click)="profileModal.hide()">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </sm-tab>
    </sm-tabs>
  </modal-content>
</sm-modal>
<modal-actions> <simple-notifications *ngIf="options" [options]="options"></simple-notifications> </modal-actions>
