 <div class="ui borderless inverted main menu fixed">
        <div class="item brand">Semantic AF Contaduria</div>
        <a routerLink="/apps/home" routerLinkActive="active" class="item home">Home</a>
        <a routerLink="/apps/clients" routerLinkActive="active" class="item">
            <i class="user icon"></i> Clientes
        </a>
        <div class="right item">
        <div class="ui inverted menu">
            <div class="ui simple inverted dropdown item">
            Acciones
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Perfil</div>
                <div (click)="logOut()" class="item">Salir</div>
            </div>
            </div>
        </div>  
        </div>
</div>