<sm-modal title="Producto" class="fluid stock-modal" #stockModal>
  <modal-content>
    <form class="ui form" [formGroup]="productForm" name="Form">
      <div class="ui left aligned basic segment">
        <div class="ui horizontal divider">Datos Generales</div>

        <div class="form-group field">
          <sm-input type="text" label="Nombre" [control]="productForm.controls.name" placeholder="Ingresar Nombre"> </sm-input>
          <app-input-error-messages [control]="productForm.controls.name"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Descripción" [control]="productForm.controls.description" placeholder="Ingresar Descripción">
          </sm-input>
          <app-input-error-messages [control]="productForm.controls.description"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-select
            class="fluid search inverted"
            label="Proveedor"
            [(model)]="providerId"
            (onChange)="onProviderChange($event)"
            placeholder="Ingresar Proveedor"
          >
            <option *ngFor="let provider of providers" value="{{ provider.id }}">{{ provider.name }}</option>
          </sm-select>
        </div>

        <div class="ui horizontal divider">Estructura Impositiva</div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Precio de Costo Sin Impuesto"
            [control]="productForm.controls.costPrice"
            placeholder="Ingresar Precio de Costo Sin Impuesto"
          >
          </sm-input>
          <app-input-error-messages [control]="productForm.controls.costPrice"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Neto Gravado Sin Impuesto"
            [control]="productForm.controls.netPrice"
            placeholder="Ingresar Neto Gravado Sin Impuesto"
          >
          </sm-input>
          <app-input-error-messages [control]="productForm.controls.netPrice"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-select
            class="fluid search inverted"
            label="Condición"
            [(model)]="condition"
            (onChange)="onConditionChange($event)"
            placeholder="Seleccione Condición"
          >
            <option *ngFor="let tipo of ivaTypes" [value]="tipo">{{ tipo }}</option>
          </sm-select>
          <app-input-error-messages [control]="productForm.controls.condition"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Derechos de Importación"
            [control]="productForm.controls.importRight"
            placeholder="Ingresar Derechos de Importación"
          >
          </sm-input>
          <app-input-error-messages [control]="productForm.controls.importRight"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Precio Tentativo"
            [control]="productForm.controls.tentativeCost"
            placeholder="Ingresar Precio Tentativo"
          >
          </sm-input>
          <app-input-error-messages [control]="productForm.controls.tentativeCost"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-select
            class="fluid search inverted"
            label="Tipo de Producto"
            [(model)]="productType"
            (onChange)="onProductTypeChange($event)"
            placeholder="Seleccione Tipo de Producto"
          >
            <option *ngFor="let tipo of producTypes" [value]="tipo">{{ tipo }}</option>
          </sm-select>
          <app-input-error-messages [control]="productForm.controls.productType"></app-input-error-messages>
        </div>
      </div>

      <modal-actions>
        <div fxLayout="column" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
            <button class="ui button tiny" (click)="addProducts(productForm)" [disabled]="productForm.invalid" *ngIf="isNew(productForm)">
              Agregar Producto
            </button>
            <button
              class="ui button tiny"
              (click)="updateProducts(productForm)"
              [disabled]="productForm.invalid"
              *ngIf="!isNew(productForm)"
            >
              Actualizar Datos
            </button>
            <button class="ui button tiny" (click)="deleteProducts(productForm)" *ngIf="!isNew(productForm)">Borrar Producto</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button fxFlex="20" fxFlex.xs="100" class="ui button tiny" (click)="stockModal.hide()">Cancelar</button>
          </div>
        </div>
      </modal-actions>
    </form>
  </modal-content>
</sm-modal>
<modal-actions> <simple-notifications *ngIf="options" [options]="options"></simple-notifications> </modal-actions>
