<sm-modal title="Stock" class="fluid stock-modal" #stockModal>
    <modal-content>
        <form class="ui form" [formGroup]="stockForm" name="Form">
            <sm-loader [complete]="!formSubmited" class="inverted" text="Loading..."></sm-loader>
            <div class="ui left aligned basic segment">

                <div class="form-group field">
                    <sm-input 
                            type="text" 
                            label="Nombre" 
                            [control]="stockForm.controls.name" 
                            placeholder="Ingresar Nombre">
                    </sm-input>
                    <div class="has-error" *ngIf="stockForm.get('name').hasError('required') && stockForm.get('name').touched">
                        Nombre no ingresado
                    </div>
                    <div class="has-error" *ngIf="stockForm.get('name').hasError('minlength') && stockForm.get('name').touched">
                        Minimo 6 caracteres
                    </div>
                    <div class="has-error" *ngIf="stockForm.get('name').hasError('maxlength') && stockForm.get('name').touched">
                        Maximo 30 caracteres
                    </div>
                </div>

                <div class="form-group field">
                    <sm-input 
                            type="text" 
                            label="Descripcion" 
                            [control]="stockForm.controls.description" 
                            placeholder="Ingresar Descripcion">
                    </sm-input>
                    <div class="has-error" *ngIf="stockForm.get('description').hasError('required') && stockForm.get('description').touched">
                        Descripcion no ingresada
                    </div>
                    <div class="has-error" *ngIf="stockForm.get('description').hasError('minlength') && stockForm.get('description').touched">
                        Minimo 4 caracteres
                    </div>
                    <div class="has-error" *ngIf="stockForm.get('description').hasError('maxlength') && stockForm.get('description').touched">
                        Maximo 120 caracteres
                    </div>
                </div>

                <div class="form-group field">
                    <sm-input 
                            type="text" 
                            label="Precio a costo" 
                            [control]="stockForm.controls.cost_price" 
                            placeholder="Ingresar Costo Minimo">
                    </sm-input>
                    <div class="has-error" *ngIf="stockForm.get('cost_price').hasError('required') && stockForm.get('cost_price').touched">
                        Costo minimo no ingresado
                    </div>
                </div>

                <div class="form-group field">
                    <sm-input 
                            type="text" 
                            label="Precio a la venta" 
                            [control]="stockForm.controls.sale_price" 
                            placeholder="Ingresar Precio a la venta">
                    </sm-input>
                    <div class="has-error" *ngIf="stockForm.get('sale_price').hasError('required') && stockForm.get('sale_price').touched">
                        Precio a la venta no ingresado
                    </div>
                </div>

                <div class="form-group field">
                    <sm-input 
                            type="text" 
                            label="Id de Categoria" 
                            [control]="stockForm.controls.category_id" 
                            placeholder="Ingresar id de categoria">
                    </sm-input>
                    <div class="has-error" *ngIf="stockForm.get('category_id').hasError('required') && stockForm.get('category_id').touched">
                        Id de categoria no ingresado
                    </div>
                </div>

                <div class="form-group field">
                    <sm-input 
                            type="text" 
                            label="Ingresar codigo de identificacion" 
                            [control]="stockForm.controls.code" 
                            placeholder="Ingresar codigo de identificacion">
                    </sm-input>
                    <div class="has-error" *ngIf="stockForm.get('code').hasError('required') && stockForm.get('code').touched">
                        Codigo de identificacion no ingresado
                    </div>
                </div>

            </div>
            <modal-actions>
                <div class="field text-center">
                    <div class="two fields">
                        <div class="field">
                            <button class="ui button" (click)="addStock(stockForm)" [disabled]="stockForm.invalid" *ngIf="isNew(stockForm)">Agregar Producto</button>
                            <button class="ui button" (click)="updateStock(stockForm)" [disabled]="stockForm.invalid" *ngIf="!isNew(stockForm)">Actualizar Datos</button>
                            <button class="ui button" (click)="deleteStock(stockForm)" *ngIf="!isNew(stockForm)">Borrar Producto</button>
                        </div>
                        <div class="field">
                            <button class="ui right floated button" (click)="stockModal.hide()">Close modal</button>
                        </div>
                    </div>
                </div>
            </modal-actions>
        </form>
    </modal-content>
</sm-modal>