<div class="ui column doubling grid main-container">
  <h1>Órdenes de compra</h1>
  <div class="row container buy-container">
    <div class="column">
      <form class="ui inverted form" [formGroup]="saleForm" name="Form">
        <div class="ui four column doubling grid">
          <div class="row">
            <div class="column formItem">
              <sm-select
                class="fluid inverted search"
                label="Producto"
                [control]="saleForm.controls.product"
                placeholder="Ingresar Producto"
                (onChange)="onChangeProduct($event)"
              >
                > <option *ngFor="let product of productsToChoose" value="{{product.id}}">{{ product.name }}</option>
              </sm-select>
            </div>
            <div class="column formItem">
              <sm-select
                class="provider-select fluid search inverted"
                label="Proveedor (el primer valor es recomendado)"
                [control]="saleForm.controls.provider_id"
                (onChange)="onChangeProvider($event)"
                placeholder="Ingresar Proveedor"
              >
                <option *ngFor="let provider of filteredProviders" value="{{provider.id}}">{{ provider.name }}</option>
              </sm-select>
            </div>
            <div class="column formItem">
              <sm-select
                class="fluid inverted"
                label="Tipo de Compra"
                [control]="saleForm.controls.typeOfBuy"
                placeholder="Ingresar tipo de compra"
              >
                <option>Cuenta corriente</option> <option>Efectivo</option>
              </sm-select>
            </div>
            <div class="column formItem">
              <sm-input
                icon="shopping bag"
                type="number"
                label="Cantidad"
                [control]="saleForm.controls.quantity"
                placeholder="Ingresar Cantidad"
              >
              </sm-input>
              <div class="has-error" *ngIf="saleForm.get('quantity').hasError('min') && saleForm.get('quantity').dirty">
                La cantidad no puede ser negativa
              </div>

              <div class="has-error" *ngIf="saleForm.get('quantity').hasError('max') && saleForm.get('quantity').dirty">
                La cantidad no puede superar al stock actual ({{ selectedProduct?.stock }})
              </div>
            </div>
            <div class="two wide two height left floated column formItem addProduct">
              <button class="ui button tiny" [disabled]="saleForm.invalid" (click)="addProduct()">
                Agregar producto
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="column formItem">
          <p>
            "La elección de Proveedor y Tipo de Compra reemplazara los anteriormente seleccionados en la orden de
            compra"
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row container buy-container">
    <div class="column">
      <h1>Búsqueda de productos</h1>
      <table-pagination [productList]="stock?.products"></table-pagination>
    </div>
  </div>
  <ng-container *ngIf="!isEmpty(selectedProducts); else: noProductsSelectedTemplate">
    <div
      class="row container buy-container"
      *ngFor="let product of (selectedProducts | mapToIterable: numberOfChanges)"
    >
      <div class="column">
        <h1>Orden de compras para proveedor "{{ product.val.stock[0].provider }}"</h1>
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Nombre de producto</th>
              <th>Descripción</th>
              <th>Proveedor</th>
              <th>Cantidad</th>
              <th>Eliminar producto de orden de compra</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let selected of product.val.stock">
              <td>{{ selected.product.name }}</td>
              <td>{{ selected.product.description }}</td>
              <td>{{ selected.provider }}</td>
              <td>{{ selected.quantity }}</td>
              <td>
                <button class="ui button" (click)="deleteProduct(product.key, selected.product.id)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <span class="sub-total">Sub total:</span>
          <span class="sub-total">${{ product.val.subTotal | number: '1.2-5' }}</span>
        </div>
        <div>
          <span class="sub-total">Forma de pago:</span> <span class="sub-total">{{ product.val.typeOfBuy }}</span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noProductsSelectedTemplate>
    <div class="row">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Nombre de producto</th>
            <th>Proveedor</th>
            <th>Forma de pago</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5"><h3>No hay productos seleccionados</h3></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <div class="row">
    <div class="column">
      <span class="total">Total:</span> <span class="total">${{ total | number: '1.2-5' }}</span>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <button class="ui button tiny" [disabled]="isEmpty(selectedProducts)" (click)="buy()">
        Generar orden de compra
      </button>
    </div>
  </div>
</div>
<simple-notifications *ngIf="options" [options]="options"></simple-notifications>
