<div *ngIf="filteredSales; else noSalesTemplate" class="ui column doubling grid main-container">
  <div fxLayout="column" fxLayoutGap="15px" fxFlexFill>
    <div fxFlex>
      <div fxLayout="row">
        <div fxFlex="40%" fxFlex.md="55%" fxFlex.sm="100%" fxFlex.xs="100%" class="ui icon right labeled input">
          <input
            type="text"
            [ngModel]="filter"
            (ngModelChange)="onChange($event)"
            placeholder="Ingrese Cliente, Tipo de pago o Número de Venta"
          />
          <div class="ui tag label"><i class="search icon"></i></div>
        </div>
      </div>
    </div>
    <div class="ui orange message">Por favor verificar que el bloqueo de pop ups este desactivado para poder imprimir una factura !</div>
    <div class="container order-container buy-container" *ngFor="let sale of filteredSales; let index = index">
      <p>Cliente: {{ sale.sale.client_name }}</p>
      <p>Número de Venta: {{ sale.sale.id }}</p>
      <p>Fecha de creación: {{ sale.sale.created_at | date: 'short' }}</p>
      <p>Total: {{ sale.sale.total }}</p>
      <p>Status: {{ sale.sale.status === 'F' ? 'Facturado' : 'Completado' }}</p>
      <p>Tipo de venta: {{ sale.sale.payments }}</p>
      <p>Productos de la venta</p>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Nombre de producto</th>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let details of sale.sale_details">
            <td>{{ details.product_name }}</td>
            <td>{{ sale.products[details.product_id].description }}</td>
            <td>{{ sale.products[details.product_id].sale_price }}</td>
            <td>{{ details.quantity }}</td>
          </tr>
        </tbody>
      </table>
      <factura
        *ngIf="clients?.length > 0"
        [clients]="clients"
        [products_details]="sale.sale_details"
        [products]="sale.products"
        [sale]="sale.sale"
        [id]="'to_print' + index"
      ></factura>
    </div>
  </div>
</div>
<ng-template #noSalesTemplate> <div class="ui red message main-container">No se han encontrado ventas realizadas !</div> </ng-template>
