<div class="ui column doubling grid main-container">
  <h1>Ordenes de venta</h1>
  <div class="row container buy-container">
    <div class="column">
      <form class="ui inverted form" [formGroup]="saleForm" name="Form">
        <div class="ui four column doubling grid">
          <div class="row">
            <div class="column formItem">
              <sm-select
                class="fluid inverted search"
                label="Producto"
                [control]="saleForm.controls.product"
                (onChange)="onChangeProduct($event)"
                placeholder="Ingresar Producto"
              >
                <option *ngFor="let product of productsToChoose" value="{{product.id}}"
                  >{{ product.name }} ( {{ product.providerName }})</option
                >
              </sm-select>
            </div>
            <div class="column formItem">
              <sm-select
                class="provider-select fluid search inverted"
                label="Cliente"
                [control]="saleForm.controls.client_id"
                placeholder="Ingresar Cliente"
              >
                <option *ngFor="let client of clients" value="{{client.id}}">{{ client.name }}</option>
              </sm-select>
            </div>
            <div class="column formItem">
              <sm-select
                class="fluid inverted"
                label="Tipo de venta"
                [control]="saleForm.controls.paymentMethods"
                placeholder="Ingresar tipo de venta"
              >
                <option>Cuenta corriente</option> <option>Efectivo</option>
              </sm-select>
            </div>
            <div class="column formItem">
              <sm-input
                icon="shopping bag"
                type="number"
                label="Cantidad"
                [control]="saleForm.controls.quantity"
                placeholder="Ingresar Cantidad"
              >
              </sm-input>
              <div class="has-error" *ngIf="saleForm.get('quantity').hasError('min') && saleForm.get('quantity').dirty">
                La cantidad no puede ser negativa
              </div>
              <div class="has-error" *ngIf="saleForm.get('quantity').hasError('max') && saleForm.get('quantity').dirty">
                La cantidad no puede superar al stock actual ({{ maxStock }})
              </div>
            </div>
            <div class="column formItem">
              <sm-input
                icon="shopping bag"
                type="date"
                label="Fecha de venta"
                [control]="saleForm.controls.saleDate"
                placeholder="Ingresar Fecha"
              >
              </sm-input>
            </div>
            <div class="two wide two height left floated column formItem addProduct">
              <button class="ui button tiny" [disabled]="saleForm.invalid" (click)="addProduct()">
                Agregar producto
              </button>
            </div>
          </div>
        </div>
      </form>
      <p>
        "La eleccion de Proveedor y Tipo de Compra reemplazara los anteriormente seleccionados en la orden de compra"
      </p>
    </div>
  </div>
  <div class="row container buy-container">
    <div class="column">
      <h1>Busqueda de productos</h1>
      <table-pagination [productList]="stock?.products"></table-pagination>
    </div>
  </div>
  <ng-container *ngIf="!isEmpty(selectedProducts); else: noProductsSelectedTemplate">
    <div
      class="row container buy-container"
      *ngFor="let product of (selectedProducts | mapToIterable: numberOfChanges)"
    >
      <div class="column">
        <h1>Orden de compras para Cliente "{{ product.val.stock[0].client }}"</h1>
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Nombre de producto</th>
              <th>Descripcion</th>
              <th>Cliente</th>
              <th>Cantidad</th>
              <th>Eliminar producto de orden de compra</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let selected of product.val.stock">
              <td>{{ selected.product.name }}</td>
              <td>{{ selected.product.description }}</td>
              <td>{{ selected.client }}</td>
              <td>{{ selected.quantity }}</td>
              <td>
                <button class="ui button" (click)="deleteProduct(product.key, selected.product.id)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <span class="sub-total">Fecha de venta:</span> <span class="sub-total">{{ product.val.saleDate }}</span>
        </div>
        <div>
          <span class="sub-total">Sub total:</span>
          <span class="sub-total">${{ product.val.subTotal | number: '1.2-5' }}</span>
        </div>
        <div>
          <span class="sub-total">Forma de pago:</span> <span class="sub-total">{{ product.val.paymentMethods }}</span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noProductsSelectedTemplate>
    <div class="row">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Nombre de producto</th>
            <th>Proveedor</th>
            <th>Forma de pago</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5"><h3>No hay productos seleccionados</h3></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <div class="row">
    <div class="column">
      <span class="total">Total:</span> <span class="total">${{ total | number: '1.2-5' }}</span>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <button class="ui button tiny" [disabled]="isEmpty(selectedProducts)" (click)="sale()">Generar venta</button>
    </div>
  </div>
</div>
<simple-notifications *ngIf="options" [options]="options"></simple-notifications>
