<sm-modal title="Proveedor" class="fluid provider-modal" #providerModal>
  <modal-content>
    <form class="ui form" [formGroup]="providerForm" name="Form">
      <div class="ui left aligned basic segment">
        <div class="form-group field">
          <sm-input type="text" label="Nombre" [control]="providerForm.controls.name" placeholder="Ingresar Nombre"> </sm-input>
          <app-input-error-messages [control]="providerForm.controls.name"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Nombre De Fantasia"
            [control]="providerForm.controls.fantasyName"
            placeholder="Ingresar nombre de fantasia"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.fantasyName"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="email" label="E-mail" [control]="providerForm.controls.email" placeholder="Ingresar E-mail"> </sm-input>
          <app-input-error-messages [control]="providerForm.controls.email"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Localidad" [control]="providerForm.controls.place" placeholder="Ingresar Localidad"> </sm-input>
          <app-input-error-messages [control]="providerForm.controls.place"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="Código Postal" [control]="providerForm.controls.codigoPostal" placeholder="Ingresar código postal">
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.codigoPostal"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Provincia" [control]="providerForm.controls.codigoProvincia" placeholder="Ingresar código provincia">
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.codigoProvincia"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Dirección" [control]="providerForm.controls.address" placeholder="Ingresar Dirección"> </sm-input>
          <app-input-error-messages [control]="providerForm.controls.address"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="Teléfono" [control]="providerForm.controls.telephone" placeholder="Ingresar Teléfono"> </sm-input>
          <app-input-error-messages [control]="providerForm.controls.telephone"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="C.U.I.T (solo números)" [control]="providerForm.controls.cuit" placeholder="Ingresar C.U.I.T">
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.cuit"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Página Web" [control]="providerForm.controls.web" placeholder="Ingresar Página Web"> </sm-input>
          <app-input-error-messages [control]="providerForm.controls.web"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="​Inscripción en ingresos brutos"
            [control]="providerForm.controls.iib"
            placeholder="Ingresar ​inscripción en ingresos brutos"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.iib"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Percepción en ingresos brutos"
            [control]="providerForm.controls.pib"
            placeholder="Ingresar percepción en ingresos brutos"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.pib"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Exención de percepción en ingresos brutos"
            [control]="providerForm.controls.epib"
            placeholder="Ingresar exención de percepción en ingresos brutos"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.epib"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Responsable Inscripto"
              [control]="providerForm.controls.responsableInscripto"
              (change)="responsableChange(providerForm.controls.responsableInscripto)"
              placeholder="Ingresar responsable inscripto"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Exento"
              [control]="providerForm.controls.excento"
              (change)="responsableChange(providerForm.controls.excento)"
              placeholder="Ingresar si es exento"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Responsable de Monotributo"
              [control]="providerForm.controls.responsableMonotributo"
              (change)="responsableChange(providerForm.controls.responsableMonotributo)"
              placeholder="Ingresar si es responsable de monotributo"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Iva Inscripto"
              [control]="providerForm.controls.ivaInscripto"
              (change)="responsableChange(providerForm.controls.ivaInscripto)"
              placeholder="Ingresar si es iva inscripto"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="Precio Lista" [control]="providerForm.controls.precioLista" placeholder="Ingresar precio lista">
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.precioLista"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Condición De Venta"
            [control]="providerForm.controls.condicionDeVenta"
            placeholder="Ingresar condición de venta"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.condicionDeVenta"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="number"
            label="Límite De Crédito"
            [control]="providerForm.controls.limiteDeCredito"
            placeholder="Ingresar condición de venta"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.limiteDeCredito"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="number"
            label="Número De Inscripciones Ingresos Brutos"
            [control]="providerForm.controls.numeroDeInscripcionesIB"
            placeholder="Ingresar número de inscripciones ingresos brutos"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.numeroDeInscripcionesIB"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Cuentas Generales"
            [control]="providerForm.controls.cuentasGenerales"
            placeholder="Ingresar cuentas generales"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.cuentasGenerales"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="number"
            label="Percepción De Ganancia"
            [control]="providerForm.controls.percepcionDeGanancia"
            placeholder="Ingresar percepción de ganancia"
          >
          </sm-input>
          <app-input-error-messages [control]="providerForm.controls.percepcionDeGanancia"></app-input-error-messages>
        </div>
      </div>

      <modal-actions>
        <div fxLayout="column" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
            <button
              class="ui button tiny"
              (click)="addProvider(providerForm)"
              [disabled]="providerForm.invalid"
              *ngIf="isNew(providerForm)"
            >
              Agregar Proveedor
            </button>
            <button
              class="ui button tiny"
              (click)="updateProvider(providerForm)"
              [disabled]="providerForm.invalid"
              *ngIf="!isNew(providerForm)"
            >
              Actualizar Datos
            </button>
            <button class="ui button tiny" (click)="deleteProvider(providerForm)" *ngIf="!isNew(providerForm)">Borrar Proveedor</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button fxFlex="20" fxFlex.xs="100" class="ui button tiny" (click)="providerModal.hide()">Cancelar</button>
          </div>
        </div>
      </modal-actions>
    </form>
  </modal-content>
</sm-modal>
<modal-actions> <simple-notifications *ngIf="options" [options]="options"></simple-notifications> </modal-actions>
