<div id="personal-info" class="login">
  <div fxFlexFill fxLayout="column wrap" fxLayoutAlign="center center">
    <div class="ui inverted header">
      <h1 class="brand">Semantic AF Contaduria</h1>
      <h4>Bienvenido,&nbsp; por favor registra tu compañia a continuacion.</h4>
    </div>
    <div class="form-box">
      <form class="ui form" [formGroup]="userForm" name="Form">
        <div class="ui left aligned basic segment">
          <div class="form-group field">
            <sm-input type="text" label="Nombre" [control]="userForm.controls.name" placeholder="Ingresar Nombre"> </sm-input>
            <app-input-error-messages [control]="userForm.controls.name"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="Nombre De Fantasia"
              [control]="userForm.controls.fantasyName"
              placeholder="Ingresar nombre de fantasia"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.fantasyName"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="email" label="E-mail" [control]="userForm.controls.email" placeholder="Ingresar E-mail"> </sm-input>
            <app-input-error-messages [control]="userForm.controls.email"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="text" label="Localidad" [control]="userForm.controls.place" placeholder="Ingresar Localidad"> </sm-input>
            <app-input-error-messages [control]="userForm.controls.place"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="number" label="Código Postal" [control]="userForm.controls.codigoPostal" placeholder="Ingresar codigo postal">
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.codigoPostal"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="text" label="Provincia" [control]="userForm.controls.codigoProvincia" placeholder="Ingresar codigo provincia">
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.codigoProvincia"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="text" label="Dirección" [control]="userForm.controls.address" placeholder="Ingresar Dirección"> </sm-input>
            <app-input-error-messages [control]="userForm.controls.address"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="number" label="Teléfono" [control]="userForm.controls.telephone" placeholder="Ingresar Teléfono"> </sm-input>
            <app-input-error-messages [control]="userForm.controls.telephone"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="number" label="C.U.I.T (solo números)" [control]="userForm.controls.cuit" placeholder="Ingresar C.U.I.T">
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.cuit"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input type="text" label="Pagina Web" [control]="userForm.controls.web" placeholder="Ingresar Pagina Web"> </sm-input>
            <app-input-error-messages [control]="userForm.controls.web"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="​Inscripción en ingresos brutos"
              [control]="userForm.controls.iib"
              placeholder="Ingresar ​inscripción en ingresos brutos"
            >
            </sm-input>
            <div class="has-error" *ngIf="userForm.get('iib').hasError('required') && userForm.get('iib').dirty">
              ​inscripción en ingresos brutos no ingresada
            </div>
            <app-input-error-messages [control]="userForm.controls.iib"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="Percepción en ingresos brutos"
              [control]="userForm.controls.pib"
              placeholder="Ingresar percepción en ingresos brutos"
            >
            </sm-input>

            <app-input-error-messages [control]="userForm.controls.pib"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="Exención de percepción en ingresos brutos"
              [control]="userForm.controls.epib"
              placeholder="Ingresar exención de percepción en ingresos brutos"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.epib"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <div class="ui toggle checkbox">
              <sm-checkbox
                label="Responsable Inscripto"
                [control]="userForm.controls.responsableInscripto"
                (change)="responsableChange(userForm.controls.responsableInscripto)"
                placeholder="Ingresar responsable inscripto"
              >
              </sm-checkbox>
            </div>
          </div>

          <div class="form-group field">
            <div class="ui toggle checkbox">
              <sm-checkbox
                label="Exento"
                [control]="userForm.controls.excento"
                (change)="responsableChange(userForm.controls.excento)"
                placeholder="Ingresar si es exento"
              >
              </sm-checkbox>
            </div>
          </div>

          <div class="form-group field">
            <div class="ui toggle checkbox">
              <sm-checkbox
                label="Responsable de Monotributo"
                [control]="userForm.controls.responsableMonotributo"
                (change)="responsableChange(userForm.controls.responsableMonotributo)"
                placeholder="Ingresar si es responsable de monotributo"
              >
              </sm-checkbox>
            </div>
          </div>

          <div class="form-group field">
            <div class="ui toggle checkbox">
              <sm-checkbox
                label="Iva Inscripto"
                [control]="userForm.controls.ivaInscripto"
                (change)="responsableChange(userForm.controls.ivaInscripto)"
                placeholder="Ingresar si es iva inscripto"
              >
              </sm-checkbox>
            </div>
          </div>

          <div class="form-group field">
            <sm-input type="number" label="Precio Lista" [control]="userForm.controls.precioLista" placeholder="Ingresar precio lista">
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.precioLista"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="Condición De Venta"
              [control]="userForm.controls.condicionDeVenta"
              placeholder="Ingresar condición de venta"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.condicionDeVenta"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="number"
              label="Límite De Crédito"
              [control]="userForm.controls.limiteDeCredito"
              placeholder="Ingresar condición de venta"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.limiteDeCredito"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="number"
              label="Número De Inscripciones Ingresos Brutos"
              [control]="userForm.controls.numeroDeInscripcionesIB"
              placeholder="Ingresar número de inscripciones ingresos brutos"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.numeroDeInscripcionesIB"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="Cuentas Generales"
              [control]="userForm.controls.cuentasGenerales"
              placeholder="Ingresar cuentas generales"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.cuentasGenerales"></app-input-error-messages>
          </div>

          <div class="form-group field">
            <sm-input
              type="text"
              label="Percepción De Ganancia"
              [control]="userForm.controls.percepcionDeGanancia"
              placeholder="Ingresar percepción de ganancia"
            >
            </sm-input>
            <app-input-error-messages [control]="userForm.controls.percepcionDeGanancia"></app-input-error-messages>
          </div>
        </div>
        <modal-actions>
          <div fxLayout="column" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutGap="15px">
              <button class="ui button" (click)="updateClientCompany(userForm)" [disabled]="userForm.invalid">Actualizar Datos</button>
            </div>
          </div>
        </modal-actions>
      </form>
    </div>
  </div>
</div>
<simple-notifications *ngIf="options" [options]="options"></simple-notifications>
