<div id="personal-info" class="login">
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <div class="ui inverted header">
            <h1 class="brand">Semantic AF Contaduria</h1>
            <h4>Bienvenido,&nbsp; por favor registrate a continuacion.</h4>
        </div>
        <div class="form-box">
            <form class="ui form" [formGroup]="registerForm" name="registerForm">
                <div class="header-content">
                </div>
                <div class="ui left aligned basic segment">
                    <div class="form-group field">
                        <sm-input type="text" label="Nombre de Usuario" [control]="registerForm.controls.username"
                            placeholder="Ingresar nombre de usuario"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').dirty">
                            Nombre de usuario no ingresado
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').dirty">
                            Minimo 6 caracteres
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').dirty">
                            Maximo 12 caracteres
                        </div>
                    </div>
                    <div class="form-group field">
                        <sm-input type="password" label="Contraseña" [control]="registerForm.controls.password"
                            placeholder="Ingresar Contraseña"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').dirty">
                            Contraseña no ingresada
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').dirty">
                            Minimo 6 caracteres
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').dirty">
                            Maximo 12 caracteres
                        </div>
                    </div>
                    <div class="form-group field">
                        <sm-input type="text" label="Nombre" [control]="registerForm.controls.name" placeholder="Ingresar Nombre"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').dirty">
                            Nombre no ingresado
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('name').hasError('minlength') && registerForm.get('name').dirty">
                            Minimo 3 caracteres
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('name').hasError('maxlength') && registerForm.get('name').dirty">
                            Maximo 12 caracteres
                        </div>
                    </div>
                    <div class="form-group field">
                        <sm-input type="text" label="Apellido" [control]="registerForm.controls.lastname" placeholder="Ingresar Apellido"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('lastname').hasError('required') && registerForm.get('lastname').dirty">
                            Apellido no ingresado
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('lastname').hasError('minlength') && registerForm.get('lastname').dirty">
                            Minimo 6 caracteres
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('lastname').hasError('maxlength') && registerForm.get('lastname').dirty">
                            Maximo 12 caracteres
                        </div>
                    </div>
                    <div class="form-group field">
                        <sm-input type="email" label="Email" [control]="registerForm.controls.email" placeholder="Ingresar Email"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').dirty">
                            Email no ingresado
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').dirty">
                            Por favor ingrese un email valido
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('email').hasError('minlength') && registerForm.get('email').dirty">
                            Minimo 6 caracteres
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('email').hasError('maxlength') && registerForm.get('email').dirty">
                            Maximo 12 caracteres
                        </div>
                    </div>
                    <div class="form-group field">
                        <sm-input type="text" label="Direccion" [control]="registerForm.controls.address" placeholder="Ingresar direccion"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('address').hasError('required') && registerForm.get('address').dirty">
                            Direccion no ingresada
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('address').hasError('minlength') && registerForm.get('address').dirty">
                            Minimo 3 caracteres
                        </div>
                    </div>
                    <div class="form-group field">
                        <sm-input type="date" label="Fecha de nacimiento" [control]="registerForm.controls.birthday"
                            placeholder="Ingresar fecha de nacimiento"></sm-input>
                        <div class="has-error" *ngIf="registerForm.get('birthday').hasError('required') && registerForm.get('birthday').dirty">
                            La fecha de nacimiento debe ser completa y valida
                        </div>
                        <div class="has-error" *ngIf="registerForm.get('birthday').hasError('dateValidator')">
                            La fecha de nacimiento debe ser menor a la fecha actual
                        </div>
                    </div>
                    <div class="ui segment">
                        <h4 class="ui dividing header">Selecciona los productos a utilizar</h4>
                        <div fxLayout.xs="column wrap" fxLayout="row wrap" fxLayoutGap="15px">
                            <div class="form-group field">
                                <div class="ui toggle checkbox">
                                    <sm-checkbox label="Ventas" [control]="registerForm.controls.sales"></sm-checkbox>
                                </div>
                            </div>
                            <div class="form-group field">
                                <div class="ui toggle checkbox">
                                    <sm-checkbox label="Stock" [control]="registerForm.controls.stock"></sm-checkbox>
                                </div>
                            </div>
                            <div class="form-group field">
                                <div class="ui toggle checkbox">
                                    <sm-checkbox label="Clientes" [control]="registerForm.controls.clients"></sm-checkbox>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <sm-checkbox label="Proveedores" [control]="registerForm.controls.providers"></sm-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                        <button class="ui button" [disabled]="!registerForm.valid" type="submit" (click)="submit(registerForm)">Register</button>
                        <button class="ui button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<simple-notifications *ngIf="options" [options]="options"></simple-notifications>