/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

.brand {
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 2.188rem;
  text-shadow: -0.0625rem 0 white, 0 0.0625rem white, 0.0625rem 0 white,
    0 -0.0625rem white;
}

.has-error {
  color: #9f3a38;
  padding: 8px 0 15px 0;
}
