<sm-modal title="Cliente" class="fluid client-modal" #clientModal>
  <modal-content>
    <form class="ui form" [formGroup]="clientForm" name="Form">
      <div class="ui horizontal divider">Datos Generales</div>

      <div class="ui left aligned basic segment">
        <div class="form-group field">
          <sm-input type="text" label="Nombre" [control]="clientForm.controls.name" placeholder="Ingresar Nombre"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.name"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input
            type="text"
            label="Nombre De Fantasia"
            [control]="clientForm.controls.fantasyName"
            placeholder="Ingresar nombre de fantasia"
          >
          </sm-input>
          <app-input-error-messages [control]="clientForm.controls.fantasyName"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="email" label="E-mail" [control]="clientForm.controls.email" placeholder="Ingresar E-mail"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.email"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Localidad" [control]="clientForm.controls.place" placeholder="Ingresar Localidad"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.place"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="Código Postal" [control]="clientForm.controls.codigoPostal" placeholder="Ingresar código postal">
          </sm-input>
          <app-input-error-messages [control]="clientForm.controls.codigoPostal"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Provincia" [control]="clientForm.controls.codigoProvincia" placeholder="Ingresar código provincia">
          </sm-input>
          <app-input-error-messages [control]="clientForm.controls.codigoProvincia"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Dirección" [control]="clientForm.controls.address" placeholder="Ingresar Dirección"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.address"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="Teléfono" [control]="clientForm.controls.telephone" placeholder="Ingresar Teléfono"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.telephone"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="number" label="C.U.I.T (solo números)" [control]="clientForm.controls.cuit" placeholder="Ingresar C.U.I.T">
          </sm-input>
          <app-input-error-messages [control]="clientForm.controls.cuit"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-select
            class="fluid search inverted"
            label="Tipo de Documento"
            [(model)]="tipoDocumento"
            (onChange)="checkDocumentType($event)"
            placeholder="Seleccione tipo de documento"
          >
            <option *ngFor="let tipo of documentTypes" [value]="tipo.value">{{ tipo.label }}</option>
          </sm-select>
          <app-input-error-messages [control]="clientForm.controls.tipoDocumento"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Documento" [control]="clientForm.controls.documento" placeholder="Ingresar Documento"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.documento"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-input type="text" label="Página Web" [control]="clientForm.controls.web" placeholder="Ingresar Página Web"> </sm-input>
          <app-input-error-messages [control]="clientForm.controls.web"></app-input-error-messages>
        </div>

        <div class="form-group field">
          <sm-select
            class="fluid search inverted"
            label="Condición de Venta"
            [(model)]="condicionDeVenta"
            (onChange)="onCondicionDeVentaChange($event)"
            placeholder="Seleccione la condición de venta"
          >
            <option *ngFor="let tipo of saleConditionTypes" [value]="tipo.value">{{ tipo.label }}</option>
          </sm-select>
          <app-input-error-messages [control]="clientForm.controls.condicionDeVenta"></app-input-error-messages>
        </div>

        <div class="ui horizontal divider">Tipo de responsabilidad</div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Responsable Inscripto"
              [control]="clientForm.controls.responsableInscripto"
              (change)="responsableChange(clientForm.controls.responsableInscripto)"
              placeholder="Ingresar responsable inscripto"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Exento"
              [control]="clientForm.controls.excento"
              (change)="responsableChange(clientForm.controls.excento)"
              placeholder="Ingresar si es exento"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              label="Responsable Monotributo"
              [control]="clientForm.controls.responsableMonotributo"
              (change)="responsableChange(clientForm.controls.responsableMonotributo)"
              placeholder="Ingresar si es responsable monotributo"
            >
            </sm-checkbox>
          </div>
        </div>

        <div class="ui horizontal divider">Tipo de percepciones</div>

        <div *ngFor="let item of retentionTypes" class="form-group field">
          <div class="ui toggle checkbox">
            <sm-checkbox
              [label]="item.label"
              [control]="clientForm.controls[item.value]"
              (change)="retencionChange(clientForm.controls[item.value])"
            >
            </sm-checkbox>
          </div>
        </div>

        <div *ngFor="let item of retentionTypes" class="form-group field">
          <div class="form-group field">
            <sm-input
              type="number"
              [label]="item.label + ' Porcentaje'"
              [control]="clientForm.controls[item.value + 'Percentage']"
              placeholder="Ingresar un valor del 0 al 100"
            >
            </sm-input>
            <app-input-error-messages [control]="clientForm.controls[item.value + 'Percentage']"></app-input-error-messages>
          </div>
        </div>
      </div>

      <modal-actions>
        <div fxLayout="column" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
            <button class="ui button tiny" (click)="addClient(clientForm)" [disabled]="clientForm.invalid" *ngIf="isNew(clientForm)">
              Agregar Cliente
            </button>
            <button class="ui button tiny" (click)="updateClient(clientForm)" [disabled]="clientForm.invalid" *ngIf="!isNew(clientForm)">
              Actualizar Datos
            </button>
            <button class="ui button tiny" (click)="deleteClient(clientForm)" *ngIf="!isNew(clientForm)">Borrar Cliente</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button fxFlex="20" fxFlex.xs="100" class="ui button tiny" (click)="clientModal.hide()">Cancelar</button>
          </div>
        </div>
      </modal-actions>
    </form>
  </modal-content>
</sm-modal>
<modal-actions> <simple-notifications *ngIf="options" [options]="options"></simple-notifications> </modal-actions>
